.App {
  text-align: center;
  height: 100%;
  background: #441515; /* Old browsers */
  background: -moz-linear-gradient(top, #441515 0%, #0a0407 0%, #3e1a2a 21%, #3e1a2a 21%, #502335 42%, #834646 75%, #c8745d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #441515 0%,#0a0407 0%,#3e1a2a 21%,#3e1a2a 21%,#502335 42%,#834646 75%,#c8745d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #441515 0%,#0a0407 0%,#3e1a2a 21%,#3e1a2a 21%,#502335 42%,#834646 75%,#c8745d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#441515', endColorstr='#c8745d',GradientType=0 ); /* IE6-9 */
  background-size: 100vw 100%;
  background-repeat: no-repeat;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /*background-color: #222;*/
  height: 15vh;
  padding: 20px;
  color: white;
}

.App-intro {
  overflow-y: scroll;
  width: 90vw;
  background-color: white;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
